* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 2000px) and (min-width: 700px) {
  body {
    width: 100%;
    height: 900px;
  }
  table {
    font-size: 13px;
    flex: 1;
  }

  table td {
    padding: 5px 0px;
  }
  .coinData-div {
    display: inline-block;
    width: 100%;
  }

  .coinData-div li {
    float: left;
    height: 60px;
    list-style: none;
    padding: 1%;
    border: 1px dotted;
    font-size: 20px;
  }

  .main-div {
    display: flex;
    height: 100%;
  }

  .main-div > .chart-div {
    clear: both;
    width: 55%;
    height: auto;
  }

  .main-div > .flexTable-div {
    flex: 1;
    border: 1px dotted;
    display: flex;
    flex-wrap: wrap;
  }

  .flexTable-div .section {
    width: 50%;
    height: 50%;
    border: 1px dotted;
  }

  .orderbook-div {
    overflow: auto;
  }

  .orderbookLable {
    text-align: center;
    height: 70px;
  }

  .orderbookTable-div td {
    padding: 5px 10px;
  }

  .orderbookTable-div td:nth-child(4n-3) {
    text-align: right;
  }

  .orderbookTable-div td:nth-child(4n-2) {
    text-align: right;
  }

  .flexTable-div > .section > .orderbookTable-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .marketTradesTable-div {
    overflow: auto;
    display: flex;
    text-align: right;
    padding: 0px 20px;
  }

  caption {
    margin: 20px;
  }
  .transactionTable-div li {
    float: left;
    height: 30px;
    width: 50%;
    text-align: center;
    list-style: none;
    padding: 1%;
    border: 1px dotted;
  }
  .price-p {
    margin-top: 60px;
  }

  .amount-p {
    margin-top: 20px;
  }

  .transactionTable-div p {
    clear: both;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  #amount {
    font-size: large;
    clear: both;
    margin: 0px 20px;
    height: 40px;
    width: 60%;
  }

  .coinTotalPrice {
    margin: 20px;
    height: 40px;
    width: 90%;
    font-size: 20px;
  }

  .trade_button {
    margin: 150px 20px;
    height: 40px;
    width: 90%;
    text-align: center;
    padding: 10px;
    background-color: #f23005;
    border-radius: 2px;
  }

  .coinTransactionDataTable-div > table {
    width: 100%;
    height: 50%;
    margin: 12% 20px;
  }

  .coinTransactionDataTable-div > table > caption {
    margin: 20px;
  }
}
