* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .coinData-div {
    width: 100%;
  }

  #amount {
    font-size: large;
    clear: both;
    margin: 20px;
    height: 40px;
    width: 90%;
  }

  .coinTotalPrice {
    margin: 20px;
    height: 40px;
    width: 90%;
  }

  .trade_button {
    margin: 20px;
    height: 40px;
    width: 90%;
    text-align: center;
    background-color: #f23005;
    border-radius: 2px;
  }
  .price-p {
    margin-top: 40px;
  }

  .amount-p {
    margin-top: 20px;
  }

  table {
    font-size: 13px;
    flex: 1;
  }

  table td {
    padding: 5px 0px;
  }
  .coinData-div > ul > li:nth-child(n) {
    display: inline-block;
  }

  .coinData-div > ul > li:nth-child(n + 4) {
    display: none;
  }

  .orderbookTable-div td {
    padding: 5px;
  }

  .orderbookTable-div td:nth-child(4n-3) {
    text-align: right;
  }

  .orderbookTable-div td:nth-child(4n-2) {
    text-align: right;
  }

  .main-div {
    display: flex;
    height: 70%;
    flex-direction: column;
  }

  .main-div > .chart-div {
    border: solid 1px;
    height: 300px;
    width: 100%;
    overflow: auto;
  }

  .flexTable-div {
    display: flex;
    flex-direction: column;
  }

  .main-div .section {
    border: solid 1px;
    padding: 20px;
    height: 300px;
    width: 100%;
    overflow: auto;
  }

  .flexTable-div > .section > .orderbookTable-div {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .transactionTable-div {
    order: -1;
  }

  table {
    flex: 1;
  }

  .marketTradesTable-div > table {
    width: 100%;
  }

  .marketTradesTable-div > table td {
    padding: 0px 20px;
  }

  .transactionTable-div li {
    float: left;
    height: 30px;
    width: 50%;
    text-align: center;
    list-style: none;
    padding: 1%;
    border: 1px dotted;
  }
  #amount {
    font-size: large;
    clear: both;
    margin: 20px;
    height: 40px;
    width: 90%;
  }

  .coinTotalPrice {
    margin: 20px;
    height: 40px;
    width: 90%;
  }

  .trade_button {
    margin: 10px 20px;
    height: 40px;
    width: 90%;
    text-align: center;
    padding: 10px;
    background-color: #f23005;
    border-radius: 2px;
  }

  .coinTransactionDataTable-div > table {
    width: 100%;
    height: 50%;
  }

  .coinTransactionDataTable-div > table > caption {
    margin: 20px;
  }
}
