#manage_plan {
  position: relative;
  top: 200px;
  width: 100%;
  min-height: 930px;
  display: inline-block;
}

.plan_item {
  border: 1px solid rgb(122, 122, 122);
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 15px;
  text-align: center;
}
.plan_point {
  width: 128px;
  height: 128px;
}
.col-sm-5 {
  margin-top: 100px;
  padding: 0;
}

.plan_item label {
  padding: 2rem;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.plan_item img {
  margin-bottom: 0.2rem;
}

.plan_item input[type="radio"] {
  display: none;
}

.plan_item p {
  margin-bottom: 1rem;
}

#plan_list {
  text-align: center;
}

.plan_name {
  font-size: larger;
  font-weight: 600;
}

.plan_count {
  font-weight: 500;
}

.check_mark {
  position: relative;
  float: right;
  /* right: -2.5rem; */
  /* z-index: 1; */
  top: -280px;
  left: 30px;
  display: none;
}

span.plan_name {
  border: 1px solid #777;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
  padding: 0.5rem;
}

span.plan_count {
  border: 1px solid #777;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  padding: 0.5rem;
}
.div_div {
  width: 1100px;
  margin: 0 auto;
}

.available_plan_item {
  height: 70px;
  border-radius: 15px;
  margin: 5px 0;
}
.history_scroll {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 5rem;
}

.ac_plan {
  height: 242px;
  overflow-y: auto;
  margin-bottom: 5rem;
}

.plan_scroll {
  padding: 20px;
  height: 640px;
  overflow-y: auto;
  margin-bottom: 5rem;
}
.btn-primary,
input[type="submit"].btn-block {
  background-color: rgb(133, 198, 241);
  width: 130px;
  padding: 0.5rem;
  border-radius: 10px;
}
#buy_button {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
h3 {
  font-size: 40px;
  font-weight: bold;
}
h5 {
  font-size: 30px;
  font-weight: bold;
}
h6 {
  font-size: 20px;
  font-weight: bold;
}
.form-control {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
}
/* .choice {
  padding-top: 50px;
} */
