

button {cursor: pointer;}

/*======================리뷰작성 팝업===============================*/
#popup {display: none; z-index: 999; width: 100%; height: 100%;}
#popup #popup_content { width: 300px;height: 120px;background-color: white;color: black;position: absolute; 
	left: 50%; top: 40%; transform: translate(-50%, -50%);text-align: center;
	border-radius: 15px;
}

#popup_content div:first-child {text-align: start;}

/* #popup_content h2 {position: absolute; top: 50%;} */

#popup #popup_btn {width: 400px;left: 50%; position: absolute; top: 37%; transform: translate(-50%, -50%); display: flex; justify-content: center;}

#popup_btn {width: 100%; }
#popup_btn button {padding: 10px 15px;font-size: 16px;border-radius: 20px; border: 1px solid #d5d6e0;background-color: white;font-family: "S-CoreDream-4Regular";margin-right: 10px;}

#popup_btn input {
	margin-left: 15px;
	width: 100px;
}

#popup_btn #popup_write {
	position: absolute;
	margin-top: 40px;
	left: 32%;
}

#popup_btn #close {
	position: absolute;
	margin-top: 41px;
	margin-left: 90px;
}