/* header { position: relative; color: rgb(44, 55, 68); } */
section { height: auto;}

/* 게시판 글쓰기(board_form.php) */
#board_box { position: relative; width: 1100px; margin: 0 auto; height: auto;  margin-bottom: 100px; margin-top: 150px;}
#board_box h3 {	padding: 10px; border-bottom: solid 2px rgb(44, 55, 68); font-size: 34px; color: rgb(44, 55, 68); }
#board_form span { display: inline-block; }
#board_form .col1 { width: 150px; font-size: 18px; font-weight: bold;}
#board_form li { padding: 12px; }
#board_form #read_pw input {width: 70px;}
#board_form #read_subject input {width: 500px;}
#board_form input { width: 700px; height: 30px; font-size: 18px;}
#board_form textarea { width: 700px; height: 180px; resize: none; font-size: 18px;}
#board_form #text_area {	position: relative;	height: 158px; }
#board_form #text_area .col1 { position: absolute; top: 10px; }
#board_form #text_area .col2 { position: absolute; left: 166px; }
#board_box .buttons { text-align: right; margin: 10px 0 40px 0; }
#board_box .buttons li { display: inline; }
#board_box .buttons button { width: 80px; height: 30px; font-size: 14px; border: 1px solid rgb(44, 55, 68); background-color: white; 
color: rgb(44, 55, 68); cursor: pointer; border-radius: 5px;}
#board_box .buttons button:hover { background-color: black; color: white; border: 1px solid rgb(44, 55, 68); }

/* 댓글입력칸 & 등록버튼 */
.re_button {width: 100px; height: 100px; margin-left: 12px; font-size: 14px;  background-color: white; 
    color: rgb(44, 55, 68); cursor: pointer; border-radius: 5px; float: right;}
.re_button:hover{ background-color: black; color: white;  }
.rip_content { width:960px; height:100px; resize: none; font-size: 18px; }
#board_ripple li { padding: 5px; margin-top: 10px;}
#ripple_view { height: auto; }
#rip_view{margin-top: 20px; padding: 5px ;background-color: #f8f8f8;}
#rip_content{background-color: rgb(236, 236, 236);}
        
/* 게시판 목록보기(board_list.php) */
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 80px; }
#board_list .col2 { width: 630px; text-align: center; }
#board_list .col2_1 { width: 630px; text-align: left; }
#board_list .col2_1 a { color: black;}
#board_list .col3 { width: 100px; }
#board_list .col4 { width: 40px; }
#board_list .col5 { width: 180px; }
#board_list .col6 { width: 40px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }

/* 게시판 내용보기(board_view.php) */
#board_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }
#view_content .li_content {height: 220px;}

/* 댓글칸 & 삭제버튼 */
#ripple_view .col1 { margin: 100px 30px 40px 10px;}
#ripple_view .col2 { margin: 100px 30px 40px 10px;}
.de_button {width: 40px; height: 25px; margin-left: 1050px; font-size: 14px; background-color: white; 
    color: rgb(44, 55, 68); cursor: pointer; border-radius: 5px; }
.de_button:hover{ display: inline; background-color: rgb(252, 4, 4); color: white; }
