* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 65px;
}
.container {
  background-color: white;
  width: 1920px;
  height: auto;
}
header {
  width: 1920px;
  height: 65px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  width: 1920px;
  height: 210px;
  margin-top: 30px;
  background-color: #1a1d53;
}
a {
  text-decoration: none;
  color: inherit;
}
