* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: white;
  width: 1920px;
  height: auto;
}
header {
  float: left;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 1920px;
  height: 65px;
  background-color: black;
}
.top1 {
  /* border: 1px solid black; */
  padding-left: 40px;
  width: 1920px;
  height: 65px;
  background-color: #1a1d53;
}
.top1-1 {
  /* border: 1px solid black; */
  width: 1000px;
  height: 65px;
  position: relative;
  float: left;
}
.icon {
  float: left;
  margin-top: 6px;
  width: 150px;
  height: 50px;
}
.top1-1table {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}
ul > li.top1-1tabletd {
  color: white;
  display: inline;
  margin-right: 25px;
  font-weight: bold;
}
ul > li.top1-1tabletd:hover {
  cursor: pointer;
  color: rgb(104, 145, 231);
}
.top1-2 {
  float: right;
  width: 400px;
  height: 65px;
}
.top1-2table {
  padding: 20px;
}
ul > li.top1-2tabletd {
  color: white;
  display: inline;
  margin-right: 25px;
  font-weight: bold;
  float: right;
}
ul > li.top1-2tabletd:hover {
  cursor: pointer;
  color: rgb(104, 145, 231);
}
#main-section {
  /* position: relative; */
  width: 1920px;
  /* height: 470px; */
  height: 1250px;
}
.mainframe {
  width: 1920px;
  height: 500px;
}
#mainpic {
  margin-left: 5%;
  width: 1728px;
  height: 470px;
}
section > div.notice_FAQ {
  /* position: absolute;
  top: 610px;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-left: 480px;
  width: 960px;
  height: 160px;
  text-align: center;
  /* border: 1px solid black; */
}
#notice {
  width: 470.4px;
  float: left;
  height: 100%;
  margin-right: 10px;
  border-right: gray solid 1px;
}
#notice-1 {
  font-weight: bold;
  font-size: 27px;
}
.notice_FAQ_left {
  text-align: left;
  width: 300px;
}
#FAQ {
  width: 470.4px;
  float: left;
  height: 100%;
}
#FAQ-1 {
  font-weight: bold;
  font-size: 27px;
}
.notice_FAQ_right {
  text-align: right;
}
.subframe {
  margin-top: 20px;
  margin-left: 240px;
  width: 1440px;
}

#subpic {
  width: 1440px;
}
footer {
  width: 1920px;
  height: 210px;
  margin-top: 30px;
  background-color: #1a1d53;
}
.footer-1 {
  /* display: flex;
  justify-content: center; */
  width: 1056px;
  height: 150px;
  margin-left: 350px;
}
#footer-icon {
  margin-top: 70px;
  float: left;
  width: 168.96px;
  height: 150px;
}
#footer-terms {
  margin-top: 90px;
  float: left;
  width: 677.04px;
  height: 70px;
}

#other {
  text-align: right;
  margin-top: 30px;
  width: 100px;
  height: auto;
  float: left;
}
#service-center {
  margin-top: 30px;
  width: 110px;
  height: auto;
  float: left;
}
h4 {
  color: white;
}
.tag {
  color: rgb(145, 144, 144);
}
