* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: white;
  width: 1920px;
  height: auto;
}
header {
  float: left;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 1920px;
  height: 65px;
  background-color: black;
}
#main-section {
  width: 1920px;
  height: 1250px;
}

footer {
  width: 1920px;
  height: 210px;
  margin-top: 30px;
  background-color: #1a1d53;
}
