input {
  box-sizing: border-box;
  border: 0.5px solid lightgray;
  border-radius: 2px;
}

#login_main_content {
  width: 225px;
  margin: 0 auto;
}

#title_login {
  width: 225px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#login_form input {
  width: 225px;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#login_button {
  width: 225px;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #F23005;
  border-radius: 2px;
}

#login_button a {
  text-decoration: none;
  color: #FFFFFF;
}

#login_button a p {
  width: 225px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 9px 0px 0px 0px;
}

#find_info {
  width: 225px;
  height: 40px;
  text-align: center;
  padding: 9px 0px 0px 0px;
}

#find_info a {
  text-decoration: underline;
  font-size: 20px;
  color: #1C1C1C;
}

#kakao-login-btn {
  width: 225px;
  height: 43px;
  margin-bottom: 10px;
  background-color: yellow;
  border-radius: 2px;
}

#naver_id_login img {
  width: 225px;
  margin-bottom: 10px;
}

#member_form {
  width: 225px;
  height: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 1px solid #F23005;
  border-radius: 2px;
}

#member_form a {
  text-decoration: none;
  color: #F23005;
}

#member_form a p {
  width: 225px;
  height: 38px;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  padding: 9px 0px 0px 0px;
}
