@import "../../css/common_font.css";
section {min-height: 620px;}
.container {
	width: var(--content--width);
	min-height: 600px;
	margin: 2em auto;
	display: flex;
	flex-direction: row;
	align-items: start;
	/*border: 1px solid black;*/
}

.left_box {display: flex;flex-direction: column;margin-right: 20px;}

.my_page {cursor: pointer;}
.member_info {
	text-align: center;
	width: 180px;
	height: 210px;
	padding: 1em 1em;
	border: 1px solid var(--sub--color);
	border-radius: 30px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.member_info p { font-size: 13px;}
.member_info > #member_name {font-family: "S-CoreDream-5Medium";font-size: 20px;}
.member_info > p:last-child {color: var(--sub--color);}
.member_info img {border: 1px solid var(--sub--color); border-radius: 100px;width: 100px;height: 100px;padding: 10px;}
#info_modify{text-align: right;font-size: 13px;margin-top: 25px;}
.nav_list {padding: 0 10px;margin-top: 30px;}
.nav_menu {margin-bottom: 30px;}
.nav_menu ul {margin-left: 20px;}
.nav_menu li {color: var(--sub--color)}
.nav_menu li a { cursor: pointer;}
.nav_menu .nav_title {font-size: 23px;font-family: "S-CoreDream-6Bold";}

.current_category {color: var(--main--color)}
.current_page {font-weight: bolder;color: black;}

.right_box { --right_box_width: 800px;width: var(--right_box_width);}

.content {display: flex;flex-direction: column;align-items: center;}
.content > .content_layout {display: flex;flex-direction: row;}

.content_title {
	font-family: "S-CoreDream-4Regular";
	width: 93%;
	padding: 10px;
	margin-bottom: 20px;
	display: block;
	border-bottom: 1px solid var(--sub--color);
	cursor: default;
}
.content_title .my_page {cursor: pointer;}
.content_item:hover {box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);}
.content_item {
	padding: 15px;
	display: inline-block;
	width: calc(var(--right_box_width) / 2 - 30px);
	height: 150px;
	margin: 10px;
	border-radius: 20px;
	border: 1px solid #c3c3c3;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.content_item h4 {margin-bottom: 6px;}
.content_item p {font-size: 16px;}
.content_item a:hover {color: var(--main--color);}
.content > span:last-child {width: calc(var(--right_box_width) - 30px);}

button {cursor: pointer;}

/* ==========예약 조회 =======================*/
.period, .location {border: 1px solid var(--sub--color);display: flex;flex-direction: row;align-items: center;margin-bottom: 20px;}
.period button, .location button {outline: none; border: 1px solid gray;margin-right: 10px;padding: 4px 6px; background-color: transparent}
.period p, .location p {display: inline-block;font-size: 20px;padding: 10px 20px;border-right: 1px solid var(--sub--color)}
.period span, .location span {padding: 0 20px;}

#appointment_list, #interest_list {max-height: 520px;overflow-y: scroll;}
#appointment_list li, #interest_list li {position: relative;border: 1px solid #c3c3c3; margin: 7px 10px; width: 700px;background-color: white}
#appointment_list li span, #interest_list li span {display: flex;flex-direction: row;padding: 10px}
#appointment_list li a {margin-left: 20px;}
#interest_list li a {margin-left: 20px;}
#appointment_list li p, #interest_list li p {font-size: 14px; font-family: "S-CoreDream-4Regular"}
#appointment_list li button, #interest_list li button { height: 30px; outline: none;border: none;background-color: var(--main--color);color: white;padding: 4px 10px;position: absolute;bottom: 10px;right: 10px;font-family: "S-CoreDream-5Medium"}
#appointment_list li .cancel {height: 27px;width: 90px; position: absolute;bottom: 40px;right: 10px;}
#appointment_list li .detail {height: 27px;width: 90px;position: absolute;bottom: 10px;right: 10px;}
#appointment_list img, #popup_content img, #interest_list img {width: 60px; }

/* ================ 리뷰관리 ====================*/
.title {font-family: "S-CoreDream-6Bold";font-size: 20px;}
#review_list li, #post_list li, #ripple_list li, #media_list li, #question_list li {display: flex; border-bottom: 1px solid #6d6d6d;font-size: 17px;}
#review_list li button, #post_list li button, #ripple_list li button, #delete_ripple, #media_list li button, #question_list li button {height: 30px; outline: none;border: none;background-color: var(--main--color);color: white;padding: 2px 7px;font-family: "S-CoreDream-5Medium"}
#post_list li button {margin-right: 5px;}
#review_list li:first-child, #post_list li:first-child, #media_list li:first-child, #question_list li:first-child {padding: 6px 0;border-top: 3px solid black; background-color: #c6c5c5; font-family: "S-CoreDream-4Regular";}
#review_list span, #post_list span, #ripple_list span, #media_list span, #question_list span { display: inline-block; text-align: center;line-height: 40px;}

#review_list .col1 { width: 300px; }
#review_list .col2 { width: 130px; }
#review_list .col3 { width: 130px; }
#review_list .col4 { width: 40px; }
#review_list .col5 { width: 100px; }

.review_detail {cursor: pointer}

/*=============작성글 관리 ========================*/

#post_list, #media_list { height: 200px; }
#post_list .col1 { width: 250px; }
#post_list .col2 { width: 60px; }
#post_list .col3 { width: 60px; }
#post_list .col4 { width: 250px; }
#post_list .col5 { width: 130px; }

#media_list .col1, #question_list .col1 { width: 270px;height: 28px; overflow: hidden; }
#media_list .col2, #question_list .col2 { width: 80px; }
#media_list .col3, #question_list .col3 { width: 300px; }
#media_list .col4, #question_list .col4 { width: 130px; }
#question_list { height: 500px}
/*=============댓글 관리 ========================*/
#delete_ripple {margin-left: 530px;}
#ripple_list { height: 470px}
#ripple_list .col1 { width: 40px; }
#ripple_list .col2 { width: 350px; }
#ripple_list .col3 { width: 100px; }
#ripple_list .col4 { width: 210px; }
.page_num {display: flex;}
.page_num li {margin: 10px 5px}

/*======================리뷰작성 팝업===============================*/
#popup {display: none; z-index: 999; width: 100%; height: 100%;}
#popup #popup_content { width: 800px;height: 820px;background-color: white;color: black;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);text-align: center;}
#popup_content #star_grade span {
	background: url('../../hospital/img/empty_star.png');
	background-size: auto 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}
#popup_content #star_grade span.on { background: url('../../hospital/img/star.png'); background-size: auto 100%;}
#popup_content div:first-child {text-align: start;}
#popup_content div:first-child > h4 {color: white;padding: 15px;background-color: var(--main--color);}
#popup_content .hospital_info {display: flex;flex-direction: row;justify-content: center;padding: 10px;margin-bottom: 20px;}
#popup_content .hospital_info div {text-align: center}
#popup_content .hospital_info img {width: 50px;height: 50px;}
#popup_content div > h2 {margin-top: 20px;}
#popup_content textarea {margin-top: 20px;width: 90%;height: 90%;font-family: "S-CoreDream-4Regular"}
#popup #popup_btn {width: 800px;left: 50%; position: absolute; bottom: 10%; transform: translate(-50%, -50%); display: flex; justify-content: center;}

/* 라디오버튼 */
#popup .checkbox[type=checkbox], .checkbox[type=radio] {display: none;}
#popup label.input-label { display: inline-block; cursor: pointer;}
#popup label.input-label::before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 30px;
	color: rgb(177, 166, 147);
	-webkit-transition: transform 0.2s ease-out, color 0.2s ease;
	-moz-transition: transform 0.2s ease-out, color 0.2s ease;
	-ms-transition: transform 0.2s ease-out, color 0.2s ease;
	-o-transition: transform 0.2s ease-out, color 0.2s ease;
	transition: transform 0.2s ease-out, color 0.2s ease;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	-moz-transform: scale3d(0.8, 0.8, 1);
	-ms-transform: scale3d(0.8, 0.8, 1);
	-o-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

#popup label.input-label.radio::before { content: "\f111";}
#popup input.checkbox + label.input-label:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#popup input.checkbox + label.input-label:active::before {
	-webkit-transform: scale3d(1.5, 1.5, 1);
	-moz-transform: scale3d(1.5, 1.5, 1);
	-ms-transform: scale3d(1.5, 1.5, 1);
	-o-transform: scale3d(1.5, 1.5, 1);
	transform: scale3d(1.5, 1.5, 1);
}

#popup input.checkbox:checked + label.input-label::before {
	display: inline-block;
	font-family: FontAwesome;
	color: #ff3a00;
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
#popup input.checkbox:checked + label.input-label.radio::before { content: "\f058";}
#popup_btn {width: 100%;}
#popup_btn button {padding: 10px 20px;font-size: 16px;border-radius: 20px; border: 1px solid #d5d6e0;background-color: white;font-family: "S-CoreDream-4Regular";margin-right: 10px;}

/*자세히 보기 팝업*/
#popup_content #appointment_detail table { width: 100%;margin-left: 40px; text-align: left; margin-bottom: 20px;}
#popup_content #appointment_detail h2 {display: inline-block;width: 750px;text-align: left;margin-left: 20px; border-bottom: 2px solid var(--sub--color);padding-bottom: 10px;margin-bottom: 10px; }
#popup_content #appointment_detail th, td { padding-bottom: 10px;}
#popup_content #appointment_detail td { font-family: "S-CoreDream-4Regular"}
#popup_content #appointment_detail th { font-family: "S-CoreDream-5Medium"}
#popup_content #appointment_detail ul { width: 90%;text-align: left;margin-left: 30px;font-size: 14px;font-family: "S-CoreDream-4Regular";color: #5f5f5f}
#popup_content #appointment_detail li {padding-bottom: 10px;}
#popup_content #appointment_detail li::before {content: "· ";}
